@import '~hds-design-tokens/lib/all.scss';

.title {
  font-size: $fontsize-body-xl;
  margin-bottom: $spacing-s;
}

.infoBox {
  padding: $spacing-s 0;
  background-color: $color-silver-light;

  .orderRemaining {
    padding: 0 $spacing-s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
  }

  .orderRemainingDetail {
    padding: 0 $spacing-s;
  }

  .refundDescription {
    padding: 0 $spacing-s;
    margin-top: $spacing-s;
  }

  .refund {
    padding: $spacing-s;
    margin-top: $spacing-m;
    background-color: $color-coat-of-arms-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
  }

  .iban {
    padding: $spacing-s;
  }
}
