@import '~hds-design-tokens/lib/all.scss';

.paginator-container {
  display: block;
  margin: $spacing-m 0;
  text-align: center;

  button {
    width: 48px;
    height: 48px;
    border-width: 0;

    &:not(:last-child) {
      margin-right: $spacing-s;
    }

    &.page-active {
      border-width: 2px;
    }
  }
}
