@import '~hds-design-tokens/lib/all.scss';

// permit status variables
$color-closed-border: $color-black-50;
$color-closed-fill: $color-black-20;
$color-draft-border: $color-coat-of-arms;
$color-draft-fill: $color-coat-of-arms-medium-light;
$color-payment-in-progress-border: $color-alert;
$color-payment-in-progress-fill: $color-alert-light;
$color-valid-border: $color-tram;
$color-valid-fill: $color-tram-light;
