@import '~hds-design-tokens/lib/all.scss';

.fieldset {
  display: flex;
  flex-direction: row;

  .zoneSelect {
    min-width: 300px;
  }

  .field {
    margin-right: $spacing-s;
  }
}

.actions {
  display: flex;
  flex-direction: row;

  .submit {
    margin-right: $spacing-s;
  }

  .delete {
    margin-right: $spacing-s;
  }
}
