@import '~hds-design-tokens/lib/all.scss';

.search-container {
  margin: $spacing-m;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;

  .status-select {
    margin-right: $spacing-s;
    min-width: 200px;
  }

  .search-input {
    max-width: 480px;
    margin-right: $spacing-s;
  }
}
