@import '~hds-design-tokens/lib/all.scss';

.container {
  margin: $spacing-s 0;
  display: flex;
  flex-direction: column;

  .title {
    font-weight: 600;
    font-size: $fontsize-heading-xxs;
    margin: $spacing-m 0;
  }

  .content {
    display: flex;
    flex-direction: row;
    margin-bottom: $spacing-5-xl;
  }
}
