@import '~hds-design-tokens/lib/all.scss';

.container {
  display: flex;
  flex-direction: column;
  .status {
    align-self: flex-start;
    margin: $spacing-s 0;
  }
  .header {
    margin-bottom: $spacing-s;
    .customer {
      display: flex;
      align-items: center;

      .customerName {
        margin-right: $spacing-s;
      }
    }
  }
}
