@import '~hds-design-tokens/lib/all.scss';

.header {
  margin: $spacing-m 0;

  .title {
    font-weight: 600;
    font-size: $fontsize-heading-s;
  }
}

.content {
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing-5-xl;
  .column {
    flex: 1 1 33%;
    &:not(:last-child) {
      margin-right: $spacing-m;
    }
  }
}

.actions {
  padding: $spacing-m 0;
  box-shadow: 0 -5px 5px -5px $color-black-30;
  position: fixed;
  width: 100%;
  max-width: $breakpoint-xl;
  left: calc(100% - #{$breakpoint-xl}) / 2;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
