@import '~hds-design-tokens/lib/all.scss';

.title {
  font-size: $fontsize-body-xl;
  padding: $spacing-s;
}

.content {
  display: flex;
  flex-direction: column;
  padding: $spacing-2-xs $spacing-m;

  .fieldItem {
    margin: $spacing-2-xs 0;
  }

  .priceInfo {
    margin: $spacing-m 0;

    .priceTitle {
      font-size: $fontsize-body-l;
    }

    .priceDetail {
      display: flex;
      flex-direction: row;

      .discountPrice {
        margin-right: $spacing-s;
      }
    }
  }
}
