@import '~hds-design-tokens/lib/all.scss';

.title {
  font-size: $fontsize-body-xl;
  padding: $spacing-s;
}

.content {
  display: flex;
  flex-direction: column;
  padding: $spacing-s;

  .addressSearch {
    margin: $spacing-s 0;
  }

  .fieldItem {
    margin: $spacing-2-xs 0;
  }

  .fieldDivider {
    margin: $spacing-2-xs 0;
  }

  .radioGroup {
    margin: $spacing-2-xs 0;
  }

  .radioGroupAddress {
    margin-left: $spacing-l;
  }
}
