@import '~hds-design-tokens/lib/all.scss';

.tableRow {
  height: $spacing-2-xl;
  border-bottom: 1px solid $color-black-30;
  background-color: #fafafa;

  .tableCell {
    margin: $spacing-s $spacing-xs;
  }

  &.clickable {
    cursor: pointer;
  }
}
