@import '~hds-design-tokens/lib/all.scss';

.table-row {
  height: var(--spacing-2-xl);
  border-bottom: 1px solid var(--color-black-30);
  cursor: pointer;

  td {
    margin-right: var(--spacing-m);
  }
}
