@import '~hds-design-tokens/lib/all.scss';

.dataTable {
  margin: $spacing-m 0;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .totalInfo {
      font-size: $fontsize-body-l;
      font-weight: 600;
    }
  }

  .selectionActions {
    margin: $spacing-xs 0;
  }
}
