@import '~hds-design-tokens/lib/all.scss';

.dataTable {
  margin: $spacing-m 0;
  width: 1000px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    .totalInfo {
      font-size: $fontsize-body-xl;
      font-weight: normal;
    }

    > div:not(:last-child) {
      margin-right: $spacing-m;
    }
  }

  .selectionActions {
    margin: $spacing-xs 0;
  }
}
