@import '~leaflet/dist/leaflet.css';
@import '~hds-design-tokens/lib/all.scss';
@import '~hds-core/lib/utils/helpers.css';
@import url('https://makasiini.hel.ninja/delivery/HelsinkiGrotesk/HelsinkiGrotesk.css');

body {
  font-family: $font-default;
  font-size: $fontsize-body-m;
  color: $color-black-90;
  line-height: $lineheight-l;
}
